---
import Layout from '../../layouts/Layout.astro';

import VideoFrames from '../../components/VideoFrames.astro';
import Lenisgsap from '../../components/Lenisgsap.astro';
---

<Layout>
	<h1>Index en Ingles</h1>
	<div class="h-dvh mt-16 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 p-4">
		<div class="bg-gray-100 p-4">01</div>
		<div class="bg-gray-100 p-4">02</div>
		<div class="bg-gray-100 p-4">03</div>
	</div>	<div class="h-dvh mt-16 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4 p-4">
		<div class="bg-gray-100 p-4">01</div>
		<div class="bg-gray-100 p-4"><Lenisgsap /></div>
		<div class="bg-gray-100 p-4">03</div>
	</div>
	
</Layout>
