---

---

    <!-- forked from 
https://codepen.io/shshaw/pen/9e810322d70c306de2d18237d0cb2d78 -->
<div id="page-container">
    <div class="content">
      <h2>Lorem ipsum dolor.</h2>
      <p>Lorem, ipsum dolor consectetur adipisicing elit. Animi blanditiis recusandae distinctio optio commodi tenetur quisquam qui porro, aliquid inventore perferendis quibusdam at! Quisquam illum distinctio eveniet corrupti cupiditate quis?</p>
      <p>Lorem, ipsum dolor shit happens consectetur adipisicing elit. Animi blanditiis recusandae distinctio optio commodi tenetur quisquam qui porro, aliquid inventore perferendis quibusdam at! Quisquam illum distinctio eveniet corrupti cupiditate quis?</p>
  
      <h2>Lorem ipsum dolor.</h2>
      <p>Lorem ipsum dolor consectetur adipisicing elit. Provident sequi delectus ducimus temporibus debitis natus, aliquam impedit saepe, doloribus a modi consectetur fugit unde? Maxime illo molestiae libero? Molestias labore ratione necessitatibus veniam. Doloremque nesciunt rerum incidunt nam ad quo sed porro, molestias mollitia aut, quaerat provident minima ab harum?</p>
      <p>Lorem ipsum dolor shit happens consectetur adipisicing elit. Maxime voluptate consectetur ab velit aut eligendi, ullam accusantium cupiditate doloremque nisi eius culpa sunt quibusdam deserunt officiis? Ipsam deserunt et tenetur nihil quidem velit harum? Id quisquam voluptates eligendi est nobis harum impedit commodi soluta et sint sequi, quod quidem consequuntur dolorem corrupti vitae omnis. Obcaecati ratione sapiente exercitationem quis dolore.</p>
      <h2>Lorem ipsum dolor.</h2>
    </div>  
  <div class="video-container">
    <video id="video1" class="video-scrub" 
      src="https://assets.codepen.io/39255/output_960.mp4" 
      playsinline="true" 
      webkit-playsinline="true" 
      preload="metadata" 
      muted="muted">
    </video>
    <!--<div id="scrubber"></div>-->
  </div>
    
  <div class="content">
      <h2>Lorem ipsum dolor.</h2>
      <p>Lorem, ipsum dolor consectetur adipisicing elit. Animi blanditiis recusandae distinctio optio commodi tenetur quisquam qui porro, aliquid inventore perferendis quibusdam at! Quisquam illum distinctio eveniet corrupti cupiditate quis?</p>
    </div>
    
  <div class="video-container">
    <video id="video2" class="video-scrub" 
      src="https://www.w3schools.com/html/mov_bbb.mp4" 
      playsinline="true" 
      webkit-playsinline="true" 
      preload="metadata" 
      muted="muted">
    </video>
  </div>
    
  <div class="content">
      <p>Lorem, ipsum dolor shit happens consectetur adipisicing elit. Animi blanditiis recusandae distinctio optio commodi tenetur quisquam qui porro, aliquid inventore perferendis quibusdam at! Quisquam illum distinctio eveniet corrupti cupiditate quis?</p>
  
      <h2>Lorem ipsum dolor shit happens.</h2>
      <p>Lorem ipsum dolor shit happens consectetur adipisicing elit. Provident sequi delectus ducimus temporibus debitis natus, aliquam impedit saepe, doloribus a modi consectetur fugit unde? Maxime illo molestiae libero? Molestias labore ratione necessitatibus veniam. Doloremque nesciunt rerum incidunt nam ad quo sed porro, molestias mollitia aut, quaerat provident minima ab harum?</p>
      <p>Lorem ipsum dolor shit happens consectetur adipisicing elit. Maxime voluptate consectetur ab velit aut eligendi, ullam accusantium cupiditate doloremque nisi eius culpa sunt quibusdam deserunt officiis? Ipsam deserunt et tenetur nihil quidem velit harum? Id quisquam voluptates eligendi est nobis harum impedit commodi soluta et sint sequi, quod quidem consequuntur dolorem corrupti vitae omnis. Obcaecati ratione sapiente exercitationem quis dolore.</p>
      <h2>Lorem ipsum dolor shit happens.</h2>
      <p>Lorem ipsum dolor shit happens consectetur adipisicing elit. Provident sequi delectus ducimus temporibus debitis natus, aliquam impedit saepe, doloribus a modi consectetur fugit unde? Maxime illo molestiae libero? Molestias labore ratione necessitatibus veniam. Doloremque nesciunt rerum incidunt nam ad quo sed porro, molestias mollitia aut, quaerat provident minima ab harum?</p>
      <p>Lorem ipsum dolor shit happens consectetur adipisicing elit. Maxime voluptate consectetur ab velit aut eligendi, ullam accusantium cupiditate doloremque nisi eius culpa sunt quibusdam deserunt officiis? Ipsam deserunt et tenetur nihil quidem velit harum? Id quisquam voluptates eligendi est nobis harum impedit commodi soluta et sint sequi, quod quidem consequuntur dolorem corrupti vitae omnis. Obcaecati ratione sapiente exercitationem quis dolore.</p>
    
    <br>&nbsp;<br>&nbsp;
            <hr>
    <br>&nbsp;<br>&nbsp;
    
    </div>
    
  </div>


<style>
    #page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
}

.content {
  width: 75%;
  text-align: justify;
}

.video-container {
  text-align: center;
}

.video-scrub {
  width: 75%;
  height: 75%;
}
</style>


<script>
    gsap.registerPlugin(ScrollTrigger);
    import gsap from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    /* The encoding is super important here to enable frame-by-frame scrubbing. */
    // ffmpeg -i ~/Downloads/Toshiba\ video/original.mov -movflags faststart -vcodec libx264 -crf 23 -g 1 -pix_fmt yuv420p output.mp4
    // ffmpeg -i ~/Downloads/Toshiba\ video/original.mov -vf scale=960:-1 -movflags faststart -vcodec libx264 -crf 20 -g 1 -pix_fmt yuv420p output_960.mp4

    gsap.utils.toArray(".video-scrub").forEach(video => videoScrub(video, {
    scrollTrigger: {
        trigger: video,
        start: "center center",
        end: "+=600",
        markers: true,
        scrub: true,
        pin: true
    }
    }));

    function videoScrub(video, vars) {
    video = gsap.utils.toArray(video)[0]; // in case selector text is fed in.
    let once = (el, event, fn) => {
            let onceFn = function () {
            el.removeEventListener(event, onceFn);
            fn.apply(this, arguments);
            };
            el.addEventListener(event, onceFn);
            return onceFn;
        },
        prepFunc = () => { video.play(); video.pause(); },
        prep = () => once(document.documentElement, "touchstart", prepFunc),
        src = video.currentSrc || video.src,
        tween = gsap.fromTo(video, {currentTime: 0}, {paused: true, immediateRender: false, currentTime: video.duration || 1, ease: "none", ...vars}),
        resetTime = () => (tween.vars.currentTime = video.duration || 1) && tween.invalidate();
    prep();
    video.readyState ? resetTime() : once(video, "loadedmetadata", resetTime);
    return tween;
    }
</script>