---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import { getCollection } from 'astro:content';


const allBlogPostsEs = await getCollection('blog', ({id}) => {
	return id.startsWith('es/')
});


---


<Layout title="Bienvenido a Astro.">

	<h1>Bienvenido a <span class="text-gradient">Astro</span></h1>
	{
		allBlogPostsEs.map((post) => (
			<Card 
				title={post.data.title}
				body={post.data.author}
				date= {post.data.publishDate.toLocaleDateString('es', {
					year: "numeric",
					month: "short",
					day: "numeric"
				})}
				href={`./blog/${post.slug}/`}
			/>
		))
	}
</Layout>

<style>
	h1 {
		color: aliceblue;
	}
</style>