---
import Layout from '../../layouts/Layout.astro';

---

<Layout>
	<h1>Index</h1>
	<div class="h-dvh flex flex-row gap-5 text-center py-5">
		<div class="basis-1/4 bg-slate-400">01</div>
		<div class="basis-1/4 bg-slate-400">02</div>
		<div class="basis-1/2 bg-slate-400">03</div>
	</div>
	<div class="h-dvh flex flex-row gap-5 text-center py-5">
		<div class="basis-1/4 bg-slate-400">01</div>
		<div class="basis-1/4 bg-slate-400">02</div>
		<div class="basis-1/4 container-coin">
			<img class="coin" src="/images/coin11.webp" alt="">
		</div>
	</div>
	<div class="h-dvh flex flex-row gap-5 text-center py-5">
		<div class="basis-1/4 bg-slate-400">01</div>
		<div class="basis-1/4 container-coin">
			<img class="coin" src="/images/coin11.webp" alt="">
		</div>
		<div class="basis-1/2 bg-slate-400">03</div>
	</div>
</Layout>

<script>
	gsap.registerPlugin(ScrollTrigger);
	import gsap from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.to(".coin", {
        scrollTrigger: {
            trigger: ".containder-coin",
            scrub: true,
			start: 'top center',
            end: '+=2000',
        },
        rotation: 1500,
        ease: "none",
    });
	console.log("ScrollTrigger", ScrollTrigger);
</script>